<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home"><b>HOME</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/formulario"
        ><b>Formulario de Inscripción</b></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/anulacion"
        ><b>Formulario de Anulación</b></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart"><b>Bar Chart</b></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/doughnut-chart"><b>Doughnut Chart</b></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/radar-chart"><b>Radar Chart</b></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart"><b>Pie Chart</b></a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<footer>
  <div class="col-md-12 mt-3" align="center">
    <p>
      @2019 Yaviractec, Autores:
      <li>
        Belen Chamba
      </li>
      <li>
        Adrián Reyes
      </li>

      <li>
        kevin Torres
      </li>
    </p>
  </div>
</footer>
