<div class="container2">
  <form action="">
    <div class="col-md-12 mt-3" align="center">
      <h1><b>Formulario de Inscripción</b></h1>
    </div>
    <div>
      <p>
        Ingrese sus datos para su inscripción y posterior matricula
      </p>
    </div>
    <div class="col-md-12 mt-3" align="left">
      <div>
        Nombres: <input [(ngModel)]="inscripcion.nombres" name="nombres"/>
        <h5>{{ inscripcion.nombres }}</h5>
      </div>
      <div>
        Apellidos: <input [(ngModel)]="inscripcion.apellidos" name="apellidos"/>
        <h5>{{ inscripcion.apellidos }}</h5>
      </div>
      <div>
        Fecha de Nacimiento: <input [(ngModel)]="inscripcion.fecha_nacimiento" name="fecha_nacimiento"/>
        <h5>{{ inscripcion.fecha_nacimiento }}</h5>
      </div>
      <div>
        Cédula: <input [(ngModel)]="inscripcion.cedula" name="cedula"/>
        <h5>{{ inscripcion.cedula }}</h5>
      </div>
      <div>
        Sexo: <input [(ngModel)]="inscripcion.sexo" name="sexo"/>
        <h5>{{ inscripcion.sexo }}</h5>
      </div>
      <div>
        Provincia: <input [(ngModel)]="inscripcion.provincia" name="provincia"/>
        <h5>{{ inscripcion.provincia }}</h5>
      </div>
      <div>
        Cantón: <input [(ngModel)]="inscripcion.canton" name="canton"/>
        <h5>{{ inscripcion.canton }}</h5>
      </div>
      <div>
        Parroquia: <input [(ngModel)]="inscripcion.parroquia" name="parroquia"/>
        <h5>{{ inscripcion.parroquia }}</h5>
      </div>
      <div>
        Dirección: <input [(ngModel)]="inscripcion.direccion" name="direccion"/>
        <h5>{{ inscripcion.direccion }}</h5>
      </div>
      <div>
        Celular: <input type="number" [(ngModel)]="inscripcion.celular" name="celular"/>
        <h5>{{ inscripcion.celular }}</h5>
      </div>
      <div>
        Correo: <input [(ngModel)]="inscripcion.correo" name="correo"/>
        <h5>{{ inscripcion.correo }}</h5>
      </div>
      <div>
        Etnía: <input [(ngModel)]="inscripcion.etnia" name="etnia"/>
        <h5>{{ inscripcion.etnia }}</h5>
      </div>
      <div>
        Título de Bachiller: <input [(ngModel)]="inscripcion.titulo_bachiller" name="titulo_bachiller"/>
        <h5>{{ inscripcion.titulo_bachiller }}</h5>
      </div>
      <div>
        Fecha de Titulación: <input [(ngModel)]="inscripcion.fecha_titulacion" name="fecha_titulacion"/>
        <h5>{{ inscripcion.fecha_titulacion }}</h5>
      </div>
      <div class="container2">
        <div class="col-md-12 mt-3" align="center">
          <p>Al terminar de ingresar sus datos ponga click en descargar</p>
        </div>
        <!--postulacion.jpg-->
        <div class="col-md-12 mt-3" align="center">
          <p>FORMULARIO DE INGRESO</p>
          <img src="/assets/img/anulacion.png" />
          <button type="submit" (click)="verPdf()" class="btn btn-primary" (click)="post(inscripcion)">
            Descargar PDF
          </button>
        </div>
      </div>
      <div class="col-md-12 mt-3" align="center">
        <p>COMPROBANTE ACEPTACIÓN</p>
        <img src="/assets/img/anulacion.png" />
        <button type="submit" (click)="aceptar()" class="btn btn-primary">
          Descargar PDF
        </button>
      </div>
    </div>
  </form>
</div>
